*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: "Dosis", sans-serif;
    --subheader-font: "Overpass", sans-serif;
    --main-font: "Rubik", sans-serif;
    --blue: hsl(211, 27%, 67%);
    --blue-flashy: hsl(209 89.4% 60.6%);
    --black: hsl(202, 17%, 21%);
    --red: hsl(350, 100%, 50%);
    --red-transparent: hsla(350, 100%, 50%, 0.8);
    --green: hsla(126, 100%, 50%, 1);
    --green-transparent: hsla(126, 100%, 50%, 0.8);
    --white: hsl(216, 0%, 91.4%);
    --spacing-1: 12px;
    --spacing-2: 19px;
    --spacing-3: 31px;
    --spacing-4: 50px;
    --spacing-5: 82px;
    --spacing-6: 133px;
    --spacing-7: 215px;
    --spacing-8: 348px;
    --golden-ratio: 1.618;
    --hover-color: var(--blue-flashy);
}

body {
    background-color: var(--black);
    min-height: 100vh;
    padding: var(--spacing-4);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#submit-message {
    position: fixed;
    display: none;
    font-family: var(--main-font);
    font-size: var(--spacing-3);
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: var(--spacing-3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    border-radius: var(--spacing-1);
    z-index: -1;
    transition: opacity 0.3s ease;
}

#header {
    width: 100%;
    text-align: center;
    font-family: var(--header-font);
    font-weight: 800;
    font-size: clamp(var(--spacing-3), 12vw, var(--spacing-5));
    color: var(--white);
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
}

input {
    width: var(--spacing-7);
    height: auto;
    font-family: var(--main-font);
    font-size: var(--spacing-1);
    font-weight: 300;
    color: var(--white);
    transition: 0.2s ease;
    text-align: center;
}

.submit-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: var(--spacing-1);
    border-radius: var(--spacing-1);
    font-family: var(--header-font);
    font-weight: 500;
    font-size: var(--spacing-2);
    text-transform: uppercase;
    border: none;
    transition: 0.4s ease;
    text-align: center;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--blue-flashy);
}

#image-url-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
}

#image-url-container h3 {
    font-family: var(--header-font);
    font-size: var(--spacing-3);
}

#image-url {
    font-family: var(--main-font);
    font-size: var(--spacing-2);
    width: 90vw;
    padding: var(--spacing-2);
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
    border: none;
}

#copy-btn-container {
    position: relative;
    width: var(--spacing-4);
    height: var(--spacing-4);
}

#copy-btn {
    width: 100%;
    fill: var(--white);
    transition: 0.3s ease;
}

#copy-btn:hover {
    cursor: pointer;
    fill: var(--green);
}

#copy-message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--green-transparent);
    font-family: var(--main-font);
    font-size: var(--spacing-1);
    font-weight: 500;
    font-style: italic;
    transition: 0.5s ease;
    opacity: 0;
}

@media (width < 600px) {
    .submit-btn {
        padding: var(--spacing-2);
        font-size: var(--spacing-3);
    }
}