*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-font: "Dosis", sans-serif;
    --subheader-font: "Overpass", sans-serif;
    --main-font: "Rubik", sans-serif;
    --blue: hsl(211, 27%, 67%);
    --blue-flashy: hsl(209 89.4% 60.6%);
    --black: hsl(202, 17%, 21%);
    --red: hsl(350, 100%, 50%);
    --red-transparent: hsla(350, 100%, 50%, 0.8);
    --green-transparent: hsla(126, 100%, 50%, 0.8);
    --white: hsl(216, 0%, 91.4%);
    --spacing-1: 12px;
    --spacing-2: 19px;
    --spacing-3: 31px;
    --spacing-4: 50px;
    --spacing-5: 82px;
    --spacing-6: 133px;
    --spacing-7: 215px;
    --spacing-8: 348px;
    --golden-ratio: 1.618;
    --hover-color: var(--blue-flashy);
}

body {
    background-color: var(--black);
    min-height: 100vh;
    padding: var(--spacing-4);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-message {
    position: fixed;
    display: none;
    font-family: var(--main-font);
    font-size: var(--spacing-3);
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: var(--spacing-3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    border-radius: var(--spacing-1);
    z-index: -1;
    transition: opacity 0.3s ease;
}

#header {
    width: 100%;
    text-align: center;
    font-family: var(--header-font);
    font-weight: 800;
    font-size: clamp(var(--spacing-3), 12vw, var(--spacing-6));
    color: var(--white);
    margin-bottom: var(--spacing-5);
    text-transform: uppercase;
}

#add-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-2);
}

#add-form-btn svg {
    width: var(--spacing-4);
    height: var(--spacing-4);
    fill: var(--white);
    transition: 0.3s ease;
}

#add-form-btn svg:hover {
    cursor: pointer;
    fill: var(--hover-color);
}

#form-selection {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    opacity: 0;
    transition: opacity 0.2s ease;
    margin-bottom: var(--spacing-4);
}

#form-selection-p {
    width: 100%;
    color: var(--white);
    text-transform: none;
    font-size: clamp(var(--spacing-2), 5vw, var(--spacing-3));
    font-family: var(--main-font);
    font-weight: 100;
    text-align: center;
}

#form-selection-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.new-form-btn {
    font-family: var(--header-font);
    font-size: var(--spacing-3);
    font-weight: 500;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    padding: var(--spacing-1);
    border-radius: var(--spacing-1);
    text-transform: uppercase;
    transition: 0.2s ease;
}

.new-form-btn:hover {
    background-color: var(--blue-flashy);
    color: var(--white);
    cursor: pointer;
}

.form-container {
    width: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3);
    border-radius: var(--spacing-2);
    background-color: var(--white);
    opacity: 0;
    transition: 0.2s ease;
    margin-bottom: var(--spacing-4);
    padding: var(--spacing-4);
}

.subheader {
    font-family: var(--header-font);
    font-size: var(--spacing-4);
    font-weight: 600;
    color: var(--white);
    background-color: var(--blue-flashy);
    padding: var(--spacing-2);
    text-transform: uppercase;
    border-radius: var(--spacing-1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    gap: var(--spacing-5);
}

form.hidden-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3);
}

.container {
    height: var(--spacing-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

label {
    font-family: var(--subheader-font);
    font-weight: 500;
    font-size: var(--spacing-3);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

input {
    width: var(--spacing-7);
    height: var(--spacing-3);
    font-family: var(--main-font);
    font-size: var(--spacing-2);
    font-weight: 300;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--white);
    padding: 1rem;
    transition: 0.2s ease;
    border-radius: var(--spacing-1);
    text-shadow: 1px 1px 1px var(--black);
    text-align: center;
}

input:hover {
    background-color: hsl(211 27% 40%);
}

.image-input {
    font-size: var(--spacing-1);
    height: auto;
}

span {
    font-family: var(--main-font);
    font-weight: 100;
    font-size: var(--spacing-1);
    text-transform: none;
}
.submit-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: var(--spacing-3);
    border-radius: var(--spacing-6);
    font-family: var(--header-font);
    font-weight: 500;
    font-size: var(--spacing-4);
    text-transform: uppercase;
    border: none;
    transition: 0.4s ease;
    text-align: center;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--blue-flashy);
}

@media (width < 600px) {
    .submit-btn {
        padding: var(--spacing-2);
        font-size: var(--spacing-3);
        letter-spacing: 6px;
    }
}